body{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment:fixed;
    color: white;
    margin: 0;

    text-align: justify;
    font-family: "Times New Roman", sans-serif;

    overflow-x: hidden; /* túlcsordulás szabályozása */

    font-size: 22px;
}


@media only screen and (max-width: 600px) {
    * {
        background-image: none;
    }
    #sidebar {
        display: none;
    }
}

/*landscape: When the width of this document is larger than the height*/
@media only screen and (orientation: portrait) { /* <=> portrait */
    #main {
        background-color: darkblue;
    }
}

#header {
    position: fixed;
    padding: 10px;
    background-color: rgba(118, 116, 153, 0.7);
    text-align: center;
    width:16%;
    border-radius: 20px;
}

#nav {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    margin-left: 17%;
    margin-right: 17%;
    width: 66%;
    border: 2px solid rgba(100, 100, 100, 0.5);
    font-size: 16pt;
    font-family: "Times New Roman", sans-serif;


    z-index: 2;
}

#nav ul li {
    display: inline-block;
    margin: 10px 55px 10px 55px;
}

#nav a, #nav .sign-out-btn {
    font-size: 24pt;
    font-weight: bold;
}

#nav a:link, #nav a:visited, #nav .sign-out-btn {
    color: coral;
    text-shadow: black 3px 3px;
    text-decoration: none;
}

#nav a:hover, #nav .sign-out-btn:hover {
    color: purple;
}

#nav a:active {
    color: rebeccapurple;
}

#nav .sign-out-btn {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Times New Roman", sans-serif;
    outline: none;
}

#main {
    border: 2px solid rgba(100, 100, 100, 0.5);
    padding: 3%;
    margin-left: 17%;
    margin-right: 17%;
    width: 60%;
    height: 1200px;

    z-index: -1;
}

#main h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px grey;
    margin-top: 0;
    margin-bottom: 0;
}

table {
    border-spacing: 20px;
}

#footer {
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: rgb(5, 3, 50);
    height: 25px;
    z-index: 2;
}

@media print {
    body{
        color: black;
        background-color: white;
    }
    video,audio{
        display: none;

    }
    table{
        page-break-inside: avoid;
        border: black;
    }
    #sidebar {
        display: none;
    }
    #nav{
        display: none;
    }
    #main{
        border: 2px solid rgba(100, 100, 100, 0.2);
        padding: 7%;
        margin-left: 1%;
        margin-right: 1%;
        width: 80%;
    }


}

@media print {
    body{
        color: black;
        background-color: white;
    }
    video,audio{
        display: none;

    }
    table{
        page-break-inside: avoid;
        border: black;
    }
    #sidebar {
        display: none;
    }
    #nav{
        display: none;
    }
    #main{
        border: 2px solid rgba(100, 100, 100, 0.2);
        padding: 7%;
        margin-left: 1%;
        margin-right: 1%;
        width: 80%;
    }


}
