/* TODO Levi ha kicsinyitjuk a kepernyot a fejlec es a center body szélessége eltér egymástól */

body{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    margin: 0;

    text-align: justify;
    font-family: "Times New Roman", sans-serif;

    overflow-x: hidden; /* túlcsordulás szabályozása */

    font-size: 22px;
}

header {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    position: fixed;
    width: 100%;
    border: 2px solid rgba(100, 100, 100, 0.5);
    font-size: 17pt;

    z-index: 2;
}

header table{
    text-align: center;
    vertical-align: top;
    width: 100%;
    height: 20px;
    /*border: 5px solid grey;*/
}

header table td {
    width: 200px;
}

.main-div {
    position: relative;
    top: 140px;

    border: 2px solid rgba(100, 100, 100, 0.5);
    padding: 3%;
    margin-left: 17%;
    margin-right: 17%;
    width: 1175px;
    height: 1000px;

    z-index: -1;
}

table {
    border-spacing: 20px;
}

a:link, a:visited  {
    color: coral;
    text-shadow: black 3px 3px;
    text-decoration: none;
}

a:hover {
    color: purple;
}

a:active {
    color: rebeccapurple;
}

footer div {
    text-align: center;
    position: relative;
    bottom: -90px;
    background-color: rgb(5, 3, 50);
    z-index: 2;
}