select, textarea,input, fieldset {
    margin-bottom: 12px;
}

input[type="reset"], input[type="submit"] {
    background-color: #4CAF50;
    outline: none;

    font-size: 16px;
    width: 150px;
    height: 40px;

    border: none;
}

input:focus {
    background-color: #bffff8;
}