body{
    background-image: url("../images/zodiac-bg.jpg");
    font-size: 24px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px grey;
}

h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;

}
h3{
    font-size: 25px;
}

p {
    text-indent: 50px;
    margin: 50px;
    line-height: 30px;
}


li{
    margin: 60px;
    line-height: 25px;
}

.main-div {
    background-image: linear-gradient(rgba(33, 6, 91, 0.96), rgba(152, 92, 16, 0.9));
    background-size: cover;
    color: white;
}