body{
    background-image: url("../images/zodiac-bg.jpg");

}

#main {
    background-image: linear-gradient(rgba(33, 6, 91, 0.96), rgba(152, 92, 16, 0.9));
    background-size: cover;
    color: white;
}

#nav li{
    margin: 60px;
    line-height: 25px;
}

#main h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;

}
#main h3{
    font-size: 25px;
}

#main p {
    text-indent: 50px;
    margin: 50px;
    line-height: 30px;
}

#outline{
    outline-style: inset ;
    outline-color: black ;
}