* {
    background-image: url("csillagos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.top-menu {
    text-align: center;
    border: 2px solid white;

}


.main-div {
    text-align: justify;
    border: 2px solid white;
    background: rgba(44, 16, 129, 0.45);
    padding: 5%;
    margin-left: 17%;
    margin-right: 17%;
    height: 1000px;



}