body{
    background-image: url("../images/csillagos.jpg");
}

#main {
    background-image: linear-gradient(rgba(7, 4, 59, 0.96), rgba(24, 21, 84, 0.4));
    background-size: cover;
}

h1 {
    margin: auto;
    text-align: center;
}