* {
background-image: url("csillagos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.top-menu {
    text-align: center;
    border: 2px solid white;
    margin-left: 250px;
    margin-right: 250px;
}


.main-div {
    text-align: left;
    border: 2px solid white;
    background: rgba(44, 16, 129, 0.45);
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
    height: 1000px;
}