body {
    /*TODO adam add background image*/
    background-image: url("../images/csillagos.jpg");
}

#main{
    /*TODO Adam add linear gradient*/
    background-color: rgba(7, 4, 59, 0.8);
    /*border: 2px solid white;*/
    height: 700px;
    position: static;
}

.container {
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 50%;

    /*A pozitív értékek jobbra/le a negatív értékek balra/fel történő eltolást eredményeznek.*/
    transform: translate(-50%, -50%); /*vízszintes, függöleges*/
    width: 40%;
    height: 20%;
    border: 2px solid white;
}

.text {
    font-size: 20pt;
    text-align: center;
    width: 100%;
}