body {
    /*TODO adam add background image*/
    background-image: url("../images/csillagos.jpg");
}

#main{
    /*TODO Adam add linear gradient*/
    /*background-color: rgba(7, 4, 59, 0.8);*/
    /*border: 2px solid white;*/
    border: none;
    height: 700px;
    position: static;
}

.container {
    background-color: rgba(50, 50, 59, 1);
    color: #e8a088;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 22px;

    padding: 10px 10% 20px 10%;
    position: absolute;
    top: 40%;
    left: 50%;

    /*A pozitív értékek jobbra/le a negatív értékek balra/fel történő eltolást eredményeznek.*/
    transform: translate(-50%, -50%); /*vízszintes, függöleges*/
    width: 20%;
    height: 400px;
    border: 5px solid rgba(49, 48, 60, 1);
}

.text  {
    font-size: 35pt;
    font-weight: 600;
    text-align: center;

    /*border: 2px solid black;*/
}

.labels {
    margin: 20px auto 20px auto;
    /*border: 4px solid red;*/
    width: 60%;
}

input {
    font-size: 17px;
    border: 1px solid silver;
    width: 100%;
}

.submit-btn {
    display: block;
    margin-top: 10px;
    height: 44px;
    width: 100%;


}

form {
    /*border: 3px solid blue;*/
}

#bejelentkezes:hover {
    background-color: rgb(90, 88, 110);
}

#bejelentkezes {
    font-size: 20pt;
    color: white;
    background-color: rgb(45, 41, 100);;
    padding: 2%;
    outline: none;
    border: none;
    border-radius: 22px;
    width: 100%;
}


.error-box {
    color: red;
    font-style: italic;
    /*border: 2px solid black;*/
    text-align: center;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blinker 1.2s ease-out;
    animation-iteration-count: 2;
}