body {
    background-image: url("../images/planets.jpg");
}

#main {
    background-image: linear-gradient(rgba(7, 4, 59, 0.56), rgba(24, 21, 84, 0.4));
    height: 100%;
}

#main h1 {
    font-size: 40px;
}

#main h3 {
    font-size: 30px;
}

#main table img {
    width: 250px;
    height: 250px;

    filter: invert(1);
}

#footer {
    background: black;
}


.szemely::selection{
    background: cyan;
}

.transz::selection{
     background: orange;

 }