#sidebar {
    position: fixed;

    background-image: linear-gradient(rgb(7, 4, 59), rgba(100, 100, 100, 0.2));
    border-radius: 25px;

    top: 5px;
    right: 5px;
    width: 15%;
    height: 800px;

    color: white;
}

#sidebar img {
    width: 150px;
    height: 150px;
    /*transition: height 1s linear, width 1s linear, z-index 2s linear;*/
}

#sidebar table {
    width: 100%;
}

#sidebar table td {
    /*border: 5px solid blue;*/
    padding-left: 15px;
    padding-bottom: 10px;
}

#sidebar table tr:nth-child(1), #sidebar table tr:nth-child(2) {
    text-align: center;
}

#username {
    font-size: 22px;
    font-style: italic;
    text-align: center;
}